#cloud-config
apt_update: true
write_files:
- path: '/etc/security/limits.d/99-tidb.conf'
  permissions: '0644'
  encoding: b64
  content: |
    cm9vdCAgICAgICAgc29mdCAgICAgICAgbm9maWxlICAgICAgICAxMDAwMDAwCnJvb3QgICAgICAgIGhhcmQgICAgICAgIG5vZmlsZSAgICAgICAgMTAwMDAwMApyb290ICAgICAgICBzb2Z0ICAgICAgICBjb3JlICAgICAgICAgIHVubGltaXRlZApyb290ICAgICAgICBzb2Z0ICAgICAgICBzdGFjayAgICAgICAgIDEwMjQw
- path: '/var/local-volume-provisioner/mount-nvme.sh'
  permissions: '0744'
  encoding: b64
  content: |
    IyEvYmluL3NoCmZvciBpIGluIGBzZXEgMCAyNmA7IGRvCiAgaWYgWyAtZSAiL2Rldi9udm1lJHtpfSIgXTsgdGhlbiAjIGZpbmQgdGhlIGRldmljZQogICAgaWYgWyAtZSAiL2Rldi9udm1lJHtpfW4xIiBdOyB0aGVuCiAgICAgIGlmIGxzIC9kZXYvbnZtZSR7aX1uMXAqID4gL2Rldi9udWxsIDI+JjE7IHRoZW4KICAgICAgICBlY2hvICJkaXNrIC9kZXYvbnZtZSR7aX1uMSBhbHJlYWR5IHBhcnRlZCwgc2tpcHBpbmciCiAgICAgIGVsc2UKICAgICAgICBlY2hvICJkaXNrIC9kZXYvbnZtZSR7aX1uMSBpcyBub3QgcGFydGVkIgogICAgICAgIGlmICEgYmxraWQgL2Rldi9udm1lJHtpfW4xID4gL2Rldi9udWxsOyB0aGVuCiAgICAgICAgICBlY2hvICIvZGV2L252bWUke2l9bjEgbm90IGZvcm1hdHRlZCIKICAgICAgICAgIG1rZnMgLXQgZXh0NCAvZGV2L252bWUke2l9bjEKICAgICAgICAgIERJU0tfVVVJRD0kKGJsa2lkIC1zIFVVSUQgLW8gdmFsdWUgL2Rldi9udm1lJHtpfW4xKQogICAgICAgICAgbWtkaXIgLXAgL21udC9sb2NhbC1zc2QvJERJU0tfVVVJRAogICAgICAgICAgZWNobyBVVUlEPWBibGtpZCAtcyBVVUlEIC1vIHZhbHVlIC9kZXYvbnZtZSR7aX1uMWAgL21udC9sb2NhbC1zc2QvJERJU0tfVVVJRCBleHQ0IGRlZmF1bHRzIDAgMiB8IHRlZSAtYSAvZXRjL2ZzdGFiCiAgICAgICAgZmkKICAgICAgZmkKICAgIGZpCiAgZmkKZG9uZQ==
{{ if .Bootstrap -}}
- path: '/etc/cloud/cloud.cfg.d/custom-networking.cfg'
  permissions: '0644'
  encoding: b64
  content: |
    bmV0d29yazoKICBjb25maWc6IGRpc2FibGVkCg==
{{ end -}}
{{ if isContainerDEnabled .CRI -}}
- path: '/etc/systemd/system/containerd.service.d/11-exec_config.conf'
  permissions: '0644'
  encoding: b64
  content: |
    W1NlcnZpY2VdCkV4ZWNTdGFydD0KRXhlY1N0YXJ0PS91c3IvYmluL2NvbnRhaW5lcmQgLS1jb25maWc9L2V0Yy9jb250YWluZXJkL2NvbmZpZy50b21s
{{ end -}}
{{ range $_, $file := .Files -}}
- path: '{{ $file.Path }}'
{{- if $file.Permissions }}
  permissions: '{{ $file.Permissions }}'
{{- end }}
  encoding: b64
  content: |
    {{ $file.Content }}
{{ end -}}
{{- range $_, $unit := .Units -}}
{{ if $unit.Content -}}
- path: '{{ $unit.Path }}'
  encoding: b64
  content: |
    {{ $unit.Content }}
{{ end -}}
{{ if $unit.DropIns -}}
{{ range $_, $dropIn := $unit.DropIns.Items -}}
- path: '{{ $dropIn.Path }}'
  encoding: b64
  content: |
    {{ $dropIn.Content }}
{{- end -}}
{{- end -}}
{{- end }}
runcmd:
- until apt-get update -qq && apt-get install --no-upgrade -qqy docker.io socat nfs-common logrotate jq policykit-1; do sleep 1; done
- /bin/sh /var/local-volume-provisioner/mount-nvme.sh
- mount -a
- cp /lib/systemd/system/docker.service /etc/systemd/system/docker.service
- sed -i 's/LimitNOFILE=infinity/LimitNOFILE=1048576/' /etc/systemd/system/docker.service
- sed -i 's/LimitNPROC=infinity/LimitNPROC=1048576/' /etc/systemd/system/docker.service
- systemctl daemon-reload
{{ if .Bootstrap -}}
- ln -s /usr/bin/docker /bin/docker
- ln -sf /run/systemd/resolve/resolv.conf /etc/resolv.conf
- systemctl restart docker
{{ end -}}
{{ range $_, $unit := .Units -}}
- systemctl enable '{{ $unit.Name }}' && systemctl restart '{{ $unit.Name }}'
{{ end -}}
